<div class="container">
  <div class="row">
    <h1 class="slider-title-company"><%= @company.name %></h1>
  <div class="row">
    <div class = "col-lg-12">
      <h1 class="mhf">Stock Ticker: <%= @company.symbol %></h1>
      <h1 class="mhf">P/E Ratio: <%= @company.pe_ratio %></h1>
      <h1 class="mhf">Sector: <%= @company.sector.name %></h1>
      <h3 class="mhf"><%= @company.name %>'s P/E is 
        <% if @company.percent_over_under < 0 %>  
          <%= @company.percent_over_under.to_s[1..-1] + "% under" %>
        <% else %>
          <%= @company.percent_over_under.to_s + "% over" %>
        <% end %>
       <%= @company.sector.avg_pe %>, the sector average.</h3>
      <%= form_for @listener do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :company_id, value: params[:id] %>
        <%= f.text_field :trigger, id: 'ex8', type: 'text',
                     data: {'slider-id' => 'ex1Slider',
                            'slider-min' => '-300',
                            'slider-max' => '300',
                            'slider-step' => '1',
                            'slider-value' => '0.0' } %><br />
        <div class="submit text-center">
        <%= f.submit %>
        </div>

      <% end %>
      <h1 class="mhf">Use the slider above to select the percentage above or below the sector's average P/E at which you'd like to be alerted.</h2>
    </div>
  </div>
</div>

