<!DOCTYPE html>
<html>
<head><% if current_user %>
  <%= render "nav" %>
  <% end %>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,100italic,100,500,700' rel='stylesheet' type='text/css'>

  <title>FinancialMetricWatch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

</body>
</html>